@tailwind base;
@tailwind components;
@tailwind utilities;

[class*=language-] > span.lang {
    position: absolute;
    right: 0.5rem;
    font-size: 0.75rem;
    color: #999;
}

[class*=language-] > button.copy {
    @apply hidden
}

nav.table-of-contents {

}

.custom-block {
    border-radius: 0.375rem;
    @apply my-4 p-2
}

.custom-block p {
    @apply m-1
}

.custom-block-title {
    @apply font-bold
}

.custom-block.info {
    @apply bg-blue-100
}

.custom-block.tip {
    @apply bg-green-100
}

.custom-block.warning {
    @apply bg-yellow-100
}

.custom-block.danger {
    @apply bg-red-100
}

.custom-block.details {
    @apply bg-gray-100
}

.custom-block.details > summary {
    @apply font-bold p-2 cursor-pointer
}

.custom-block.details:hover {
    @apply bg-gray-200 transition-all
}

.prose :where(pre) {
    @apply bg-gray-100
}

[class*=language-] code .highlighted {
    margin: 0 -1rem;
    padding: 0 1rem;
    width: calc(100% + 2rem);
    @apply bg-gray-200 inline-block
}

:not(pre) > code {
    @apply bg-gray-100 p-1 rounded
}

:not(pre) > code::before, ::after {
    @apply hidden
}

.line-numbers-wrapper {
    @apply absolute top-0 left-0 w-6 bg-gray-100 rounded-tr rounded-br
}